<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link href="~/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img src="~/img/ConfArchSmall.png" style="max-width:100%" />
            </div>
            <div class="col-md-6 titlecol">
                <span class="title">@ViewBag.Title</span>
            </div>
            <div class="col-md-4">
                @if (User.Identity.IsAuthenticated)
                {

                    <h3>Hi @User.Identity.Name!</h3>
                    <a asp-controller="Account" asp-action="Logout" class="btn btn-primary">Logout</a>

                }
                else
                {
                    <h3>Login here: </h3>
                    <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Login</a>
                }
            </div>
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
