<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap-theme.min.css">
    <link href="~/site.css" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <img src="~/img/ConfArchSmall.png" style="max-width:100%" />
        </div>
        <div class="col-md-8 titlecol">
            <span class="title">@ViewBag.Title</span>
        </div>
        <div class="col-md-2 titlecol">
            <partial name="_LoginPartial.cshtml" />
        </div>
    </div>
        <div>
            @RenderBody()
        </div>
    </div>
</body>

@RenderSection("scripts", false)
</html>
